/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* Общие стили страницы */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--font-color);
  font-weight: var(--main-weight);
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(to right, var(--gradient-lines)),
    repeating-linear-gradient(to bottom, var(--gradient-lines)),
    linear-gradient(var(--gradient-background));
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Стили контента */
.content-styles {
  color: var(--main-color);
  width: clamp(375px, 100%, 696px);
}

/* Стили заголовка */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-block-start: 102px;
  block-size: clamp(20.1875rem, 19.2852rem + 3.8498vw, 22.75rem);
  gap: 23px;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  font-family: var(--accent-font);
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.title-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.title-title:focus,
.title-title:focus-visible {
  outline: none;
}


.title-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* Стили меню */
.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-block-end: 24px;
  padding-inline-start: 19px;
  
}

.theme-menu__item button {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity .3s ease;
}

.theme-menu__item :not(button:disabled):hover {
  cursor: pointer;
}

.theme-menu__item button:disabled,
.theme-menu__item button:hover,
.theme-menu__item button:focus {
  opacity: 0.6;
}



.theme-menu__item :not(button:disabled):focus-visible {
  position: relative;
}

.theme-menu__item :not(button:disabled):focus-visible::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-block-end: 2px solid var(--main-color);
  animation: menu-underline 0.3s ease;
  transform-origin: bottom left;
}

@keyframes menu-underline {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.theme-menu__item button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
  top: 0;
  opacity: 0.6;
  color: var(--main-color);
  animation: moving-arrow 1s ease-in-out infinite;
}

@keyframes moving-arrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Стили карточек */
.main {
  margin-block-start: 102px;
}

.card {
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.card__header {
  border-block-end: 2px solid var(--main-color);
  padding: 2px 9px;
}

.card__header-title {
  font-size: inherit;
  line-height: normal;
  padding: 2px 0;
}

.card__image {
  position: relative;
}

.card__image-picture {
  inline-size: 100%;
}

.card__paragraph {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 27px 27px 25px 23px;
  font-weight: var(--main-weight);
  line-height: 21px;
}

.card__like-container {
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 8px;
}

.card__icon-button {
  display: flex;
  border: none;
  background-color: var(--background-color);
  padding: 0;
  transition: .3s ease;
}

.card__like-button {
  font-size: 14px;
  font-family: var(--accent-font);
  text-align: center;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  margin-inline-end: 23px;
  margin-block-end: 25px;
  padding: 9px 17px;
  width: 130px;
  height: 38px;
  transition: .3s ease;
}

.card-margin {
  margin-block-start: 45px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-weight);
  line-height: 90%;
  mix-blend-mode: difference;
  color: var(--like-button-hover);
}

.button-hover-animation {
  position: relative;
}

.card__like-button:focus-visible,
.button-safe:focus-visible {
  box-shadow: 2px 2px 0 1px var(--main-color);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
}

.card__like-button:hover,
.button-safe:hover,
.like-icon,
.dialog-button {
  cursor: pointer;
}

.button-safe {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 25px;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  transition: .3s ease;
}

.floppy {
  z-index: 1;
  color: var(--like-button-hover);
  mix-blend-mode: difference;
}

.card-label {
  position: absolute;
  top: 25px;
  right: 11px;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-weight);
  text-transform: uppercase;
  text-shadow: 
    -1px -1px 0 var(--background-color),
    1px -1px 0 var(--background-color), 
    -1px 1px 0 var(--background-color),
    1px 1px 0 var(--background-color);
  opacity: 0.5;
}

.safe-button-section {
  display: flex;
  justify-content: center;
  margin-block-start: 54px;
  margin-block-end: 103px;
}

/* DIALOG */
.dialog[open] {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 306px;
  background-color: var(--background-color);
  padding: 31.5px 32.5px 31.5px 31.5px;
  border: 2px solid var(--main-color);
}

.svg-title__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.floppy-dialog {
  color: var(--main-color);
  inline-size: 30%;

}

.dialog__message {
  color: var(--main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--main-weight);
  line-height: 150%;
  text-transform: uppercase;
  max-width: 234px;
}

.dialog-form {
  display: block;
  width: 100%;
}

.dialog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  font-family: var(--accent-font);
  padding: 9px 17px;
  inline-size: 100%;
  border: 2px solid var(--main-color);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
} 


/* Поддержка тестового эффекта тени для надписи */
@supports (
  (text-stroke: 2px var(--background-color)) or
    (-webkit-text-stroke: 2px var(--background-color))
) {
  .card-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
    letter-spacing: 4px;
  }
}

/* FILTERS START */
.filter__brightness {
  filter: brightness(70%);
}

.filter__blur {
  filter: blur(1px);
}

.filter__brightness-blur {
  filter: brightness(70%) blur(1px);
}

.filter__contrast {
  filter: contrast(90%);
}

.filter__invert {
  filter: invert(10%);
}

.filter__super-contrast-blur {
  filter: contrast(200%) blur(1px);
}
/* FILTERS END */


@media (max-width: 500px) {

  .button-safe {
    flex-direction: column;
  }
}