/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root{
--main-font: 'Inter-Variable', sans-serif;
--main-weight: 'wght' 400;
--main-weight-title: 'wght' 700;
--accent-font: 'Press Start 2P', fantasy;
--accent-weight: 400;
--main-color: #000;
--gradient-lines: #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px;
--gradient-background: #e7e7e7 0.01%, #1a1a1a 100%;
--background-color: #FFFFFF;
--like-button-hover: #ffffff;
}